extends base 

block content 
    main.main 
        h1 #{i18n.HOME_TITLE} 
        h2 #{i18n.HOME_TITLE_DESCRIPTION}
        p #{i18n.LOREM_IPSUM}
        h2 #{i18n.HOME_TITLE_FEATURES}
        p #{i18n.LOREM_IPSUM}
        h2 #{i18n.HOME_TITLE_JOIN}
        p #{i18n.LOREM_IPSUM}
        button #{i18n.BUTTON_REGISTER}
