extends base-email

block content 
    p #{i18n.GREETING} #{fullName},
    p #{i18n.MAIL_PASSWORD_RESET_TEXT} #{url}. 
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') #{i18n.MAIL_PASSWORD_RESET_LINK}
    p #{i18n.MAIL_PASSWORD_RESET_IGNORE}
